---
---

@import "{{ site.theme }}";

body { 
	font: 16px/1.5 Lato Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header h1 { font-size: 50px; }
header p { font-size: 14px; }

section { font-size: 16px; }